.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.genres {
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    gap: 20px;
    margin-bottom: 20px;
    @media (max-width: 1350px) {
        grid-template-columns: repeat(5, 1fr); 
      }

      @media (max-width: 1150px) {
        grid-template-columns: repeat(4, 1fr); 
      }
      @media (max-width: 870px) {
        grid-template-columns: repeat(3, 1fr); 
      }
      
      @media (max-width: 650px) {
        grid-template-columns: repeat(2, 1fr);
      
      }
      @media (max-width: 450px) {
        grid-template-columns: repeat(1, 1fr);
      
      }

      
}
h1 {
    margin: 20px 0;
}