.login_btn {
    background-color: transparent;
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 1em;
    width: 50px;
    transition: color 0.4s;
   
}