.container {
  .schedule__section {
    display: flex;
    flex-wrap: wrap;

    .schedule__item {
      display: flex;
      flex-wrap: wrap;
    }
  }
  h1 {
    margin: 20px 0;
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 5px;
    margin-bottom: 20px;

    button {
      padding: 10px 20px;
      border: none;
      background-color: transparent;
      color: var(--text-color);
      cursor: pointer;
      border-radius: 6px;
      font-size: 16px;
      transition: all 0.3s ease;

      &:hover {
        background-color: #444;
      }

      &.active {
        background-color: #666;
        color: #fff;
        border: 1px solid #999;
      }
    }
  }
}


