.container {
  text-align: left;

  h1 {
    margin-bottom: 20px;
    margin-left: 20px; 
  }

  .genres {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}


.skeletonRow {
  display: flex; 
  align-items: center; 
  gap: 20px; 
  width: 100%; 
  justify-content: flex-start; 
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  max-width: 215px; 
  width: 100%; 
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03); 
  }

  img {
    width: 100%; 
    height: 330px; 
    border-radius: 6px;
    object-fit: cover; 
  }

  .card_title {
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    overflow: hidden; 
  }
}



